
body {
    background-color: rgb(30, 30, 50);
}

#intro{
    background-color: black;
}

#intro_box>h1{
    color: white;
}

#intro_box_button{
    color: white;
    border-color: white;
    background-color: rgba(50,50,50,0.5);
}

#history_timeline{
    border-color: grey;
    background-color: rgb(25,30,40);
    color: white;
}

#history_timeline_box_top{
    border-color: white;
}

#history_timeline_box_top{
    border-color: white;
}

#history_quick{
    background-color: rgb(20,20,30);
}

#history_quick_box{
    border-color: rgb(35,35,40);
}

#history_quick_box_info_button{
    background-color: rgb(30,30,30);
    color: rgb(200,200,200);
    border-color: rgb(40,40,50);
}

.history_quick_box_info_class{
    border-color: grey;
}

#history_quick_box_info_box01{
    border-color: grey;
}

#history_quick_box_info_box03{
    border-color: grey;
}

#history_quick_box_info_title{
    color: rgb(180,180,180);
}

#history_quick_box_info_year{
    color: rgb(150,150,150);
}

#history_quick_box_info_text{
    color: white;
}

header, footer{
    background-color: rgb(25,30,40);
    border-color: white;
}

#main_content{
    border-color: white;
    background-color: rgba(40, 40, 40,0.5);
}

#main_content>section{
    border-color: grey;
}

#main_info{
    border-color: grey;
    background-color: rgb(20,20,30);
}

#info_title{
    color: rgb(240,240,240);
}

#info_other_title{
    color: rgb(150,150,150);
}

#info_year{
    color: rgb(200,200,200)
}

#info_other_year{
    color: rgb(150,150,150);
}

#info_flag_desc{
    color: rgb(120,120,120);
}

.info_table{
    border-color: gray;
    color: white;
}

#main_info>h4{
    color: rgb(180,180,180);
}

#main_content>section>h3{
    color: rgb(220,220,220);
    border-color: rgb(180,180,180);
}

#main_content>section>h4{
    color: rgb(200,200,200);
}

#main_content>section>h5{
    color: rgb(180,180,180);
}

#main_content>section>p{
    color: rgb(150,150,150)
}

#main_content>section>div>h3{
    color: rgb(220,220,220);
    border-color: rgb(180,180,180);
}

#main_content>section>div>h4{
    color: rgb(200,200,200);
}

#main_content>section>div>h5{
    color: rgb(180,180,180);
}

#main_content>section>div>p{
    color: rgb(150,150,150)
}

#data_title{
    color: white;
}

#data_year{
    color: rgb(150,150,150);
}

.selection_menu{
    border-color: grey
}

.selection_menu>button{
    background-color: rgb(50,50,50);
    color: white;
    border-color: black;
}


.selection_menu>button:disabled{
    background-color: rgb(10,50,10);
}

#main_content>section>div>ul>li{
color: rgb(150,150,150);
}

#main_content>section>ul>li{
    color: rgb(150,150,150);
}

#main_info>ol{
    color: rgb(200,200,200);
}

header>button{
    background-color: rgb(50,50,50);
    color: rgb(150, 150, 150);
}

header>button:disabled{
    background-color: rgb(20,20,20);
    color: rgb(100,100,100);
}