body {
    background-color: white;
}

header {
    background-color: rgb(210, 210, 210);
}

.info {
    background-color: rgb(200, 200, 200);
}

.info>* {
 color: rgb(20,20,20);
}

.cont>section>p {
    border: 1px solid rgba(0, 0, 0, 0);
    color: rgb(25, 25, 25);
}

.titlescreen_section_text {
    border: 1px solid grey;
}

.cont>h1{
    color: black
}

.cont>section>h2{
    color: black;
    border-bottom: 1px solid grey;
}

.cont>section>h3{
    color: black;
}
.cont>section{
    border: 2px solid rgb(180,180,180);
}

.cont>section>*>b{
    color: black;
}

.flag{
    border: 2px solid gray;
}

footer{
    background-color: rgb(210,210,210); 
}

header>div>button{
    background-color: rgba(180,180,180,0.5);
    color: rgb(100,100,100);
    border: 1px solid gray;
}

.page{
    background-color: rgb(220,220,220);
    border-bottom: 6px solid rgb(60,60,60);
}

table{
    color: black;
    border: 1px solid white;
}





#history{
    background-color: black;
}

.history_content_line_left{
    border-right: 0.3vw solid white;
}

.history_content_line_right{
    border-left: 0.3vw solid white;
}

.history_content_main_article_heading{
    border-bottom: 3px solid white;
}

.history_content_main_article_text{
    background-color: rgba(50,50,50,0.6);
    border: 1px solid white;
}

.history_content_section>h2{
    border-bottom: 1px solid white;
}

.history_content_section>hr{
    border-bottom: 2px solid white;
}